.benefitsWrapper {
  .style-0 {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-1 {
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-2 {
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .style-3 {
    line-height: 48px;
    font-size: 40px;
    color: rgb(28, 33, 50);
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-4 {
    width: 510px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-5 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 25px;
      margin-left: 100px;
    }
  }

  .style-6 {
    font-weight: 700;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-7 {
    font-weight: 400;
    color: #9ea7ae;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-8 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-9 {
    font-size: 18px;
    line-height: 28px;
    color: rgb(158, 167, 174);
    font-weight: 400;
    margin-top: 40px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      line-height: 25px;
      margin-left: 100px;
    }
  }

  .style-10 {
    padding-top: 0px;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-11 {
    overflow: hidden;
    justify-content: center;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-12 {
    width: 448px;
    position: relative;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .images {
    @media (max-width: 1024px) {
      width: 300px;
    }
  }
  .style-13 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
  }

  .style-14 {
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    flex-direction: row-reverse;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .style-15 {
    line-height: 48px;
    font-size: 40px;
    color: rgb(28, 33, 50);
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-16 {
    width: 510px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-17 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 25px;
      margin-left: 100px;
    }
  }

  .style-18 {
    font-weight: 700;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-19 {
    font-weight: 400;
    color: #9ea7ae;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-20 {
    padding-top: 0px;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-21 {
    overflow: hidden;
    justify-content: center;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-22 {
    width: 448px;
    position: relative;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-23 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
  }

  .style-24 {
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .style-25 {
    line-height: 48px;
    font-size: 40px;
    color: rgb(28, 33, 50);
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-26 {
    width: 510px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-27 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      font-size: 28px;
      line-height: 25px;
      margin-left: 100px;
    }
  }

  .style-28 {
    font-weight: 700;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-29 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-30 {
    font-weight: 400;
    color: #9ea7ae;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-31 {
    padding-top: 0px;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-32 {
    overflow: hidden;
    justify-content: center;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-33 {
    width: 448px;
    position: relative;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-34 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
  }

  .style-35 {
    line-height: 48px;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    display: flex;
    margin-top: 160px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-36 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-37 {
    color: rgb(90, 214, 196);
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-38 {
    text-align: center;
    display: inline-block;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-39 {
    text-align: center;
    display: block;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }
}
