.cardwrapper{
  .style-0 {
    line-height: 48px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 64px;
    font-weight: 500;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-1 {
    opacity: 1;
    transform: none;
    transform: none;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-2 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    font-weight: 400;
    color: rgb(158, 167, 174);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-3 {
    opacity: 1;
    transform: none;
    transform: none;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-4 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    font-weight: 400;
    color: rgb(158, 167, 174);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-5 {
    opacity: 1;
    transform: none;
    transform: none;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-6 {
    color: rgb(158, 167, 174);
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    font-weight: 400;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-7 {
    color: rgb(158, 167, 174);
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    font-weight: 400;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-8 {
    opacity: 1;
    transform: none;
    transform: none;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-9 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    font-weight: 400;
    color: rgb(158, 167, 174);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }
}
