.footerWrapper{
.style-0 {
    padding-top: 50px;
    padding-left: 56px;
    padding-right: 56px;
    color: rgb(255, 255, 255);
    padding-bottom: 160px;
    background-color: rgb(18, 18, 18);
    align-items: center;
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-1 {
    max-width: 1240px;
    width: 100%;
    min-height: auto;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-2 {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-3 {
    width: 50%;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-4 {
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-5 {
    display: block;
    width: 120px;
    height: 90px;
    width: 120px;
    border-color: rgb(229, 231, 235);
    vertical-align: middle;
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-6 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-7 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-8 {
    font-size: 16px;
    line-height: 24px;
    color: rgb(141, 141, 149);
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-9 {
    width: 280px;
    text-align: left;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-10 {
    width: 280px;
    margin-top: 16px;
    text-align: left;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 16px 0px 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-11 {
    cursor: pointer;
    border-color: rgb(229, 231, 235);
    color: rgb(141, 141, 149);
    text-decoration: none solid rgb(141, 141, 149);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-12 {
    width: 280px;
    text-align: left;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-13 {
    cursor: pointer;
    border-color: rgb(229, 231, 235);
    color: rgb(141, 141, 149);
    text-decoration: none solid rgb(141, 141, 149);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-14 {
    background-color: rgb(217, 217, 217);
    max-width: 1240px;
    width: 100%;
    height: 0.994318px;
    margin-top: 32px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-15 {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    min-height: auto;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-16 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-17 {
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-color: rgb(229, 231, 235);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-18 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-19 {
    margin-left: auto;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-20 {
    cursor: pointer;
    color: rgb(255, 255, 255);
    border-color: rgb(229, 231, 235);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-21 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-22 {
    margin-bottom: 32px;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(0, 220, 200) 26.31%, rgb(0, 220, 200) 61.59%, rgb(255, 240, 97) 74.32%, rgb(255, 240, 97) 85.31%) repeat scroll 0% 0% / auto padding-box border-box;
    transform: matrix(1, 0, 0, -1, 0, 0);
    max-width: 1240px;
    width: 100%;
    height: 0.994318px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-23 {
    justify-content: space-between;
    flex-direction: row;
    max-width: 1240px;
    width: 100%;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
        justify-content: center;
        flex-direction: column;
    }
}

.style-24 {
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1 1 0%;
    width: 100%;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
        justify-content: center;
    }
}

.style-25 {
    height: 40px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
      @media (max-width: 1024px) {
        justify-content: center;
    }
}

.style-26 {
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-27 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
}

.style-28 {
    height: 40px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-29 {
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-30 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
}

.style-31 {
    height: 40px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-32 {
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-33 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
}

.style-34 {
    height: 40px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-35 {
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-36 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
}

.style-37 {
    height: 40px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-38 {
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-39 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
}

.style-40 {
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-41 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-42 {
    cursor: pointer;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-43 {
    padding-left: 8px;
    padding-right: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-44 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-45 {
    cursor: pointer;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-46 {
    padding-left: 8px;
    padding-right: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-47 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-48 {
    cursor: pointer;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-49 {
    padding-left: 8px;
    padding-right: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-50 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}

.style-51 {
    cursor: pointer;
    height: 60px;
    border-color: rgb(229, 231, 235);
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: solid;
}

.style-52 {
    display: none;
    height: 160px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
}
}