.heroWrapper {
  .style-0 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 818.182px;
    display: flex;
    position: relative;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-1 {
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .style-2 {
    width: 420px;
    height: 420px;
    max-width: 420px;
    margin-left: 24px;
    margin-right: 24px;
    z-index: 1;
    border-color: rgb(229, 231, 235);
    display: block;
    vertical-align: middle;
    border-style: solid;
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    @media (max-width: 1024px) {
        width: 300px !important;
        height: 300px;
        margin-top: 200px;
     }
  }

  .style-3 {
    align-self: center;
    margin-top: 0px;
    margin-bottom: auto;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
    width: 100%;
    display: flex;
    z-index: 10;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-4 {
    line-height: 54px;
    font-size: 54.4px;
    max-width: 700px;
    margin-bottom: 24px;
    margin-top: 0px;
    font-family: Matter, sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: none;
    color: rgb(0, 0, 0);
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px 0px 24px;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-5 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-6 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    font-weight: 700;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-7 {
    margin-top: 0px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-8 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
    font-weight: 500;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px 0px 36px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-9 {
    line-height: 20px;
    display: inline;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 8px;
    border-color: rgb(229, 231, 235);
    vertical-align: middle;
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-10 {
    mix-blend-mode: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    border-color: rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-11 {
    line-height: 20px;
    display: inline;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 8px;
    border-color: rgb(229, 231, 235);
    vertical-align: middle;
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-12 {
    mix-blend-mode: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    border-color: rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-13 {
    display: block;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-14 {
    justify-content: space-between;
    align-items: center;
    max-width: 1641.58px;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-15 {
    flex-direction: column;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-16 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-17 {
    padding-left: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    justify-content: space-between;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-18 {
    align-items: center;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-19 {
    outline: rgba(0, 0, 0, 0) solid 1.81818px;
    outline-offset: 1.98864px;
    color: rgb(255, 255, 255);
    padding: 4px;
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    width: 11rem;
    border-color: rgb(229, 231, 235);
    line-height: 24px;
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    font-family: Matter, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    margin: 0px;
    overflow-wrap: break-word;
    overflow: visible;
    border-style: solid;
  }

  .style-20 {
    justify-content: flex-end;
    align-items: center;
    width: 1.5rem;
    height: 43.9915px;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-21 {
    cursor: pointer;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(253, 239, 120);
    border-radius: 12px;
    justify-content: space-between;
    margin-left: 8px;
    z-index: 10;
    border-color: rgb(229, 231, 235);
    padding: 8px 16px;
    color: rgb(26, 32, 44);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    background-image: none;
    appearance: button;
    text-transform: none;
    font-family: Matter, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0px 0px 0px 8px;
    overflow-wrap: break-word;
    background: rgb(253, 239, 120) none repeat scroll 0% 0% / auto padding-box
      border-box;
    overflow: visible;
    border-width: 0px;
    border-style: solid;
  }

  .style-22 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-23 {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    max-width: 320px;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-24 {
    padding: 0px;
    height: auto;
    width: auto;
    margin-bottom: 0px;
    display: none;
    cursor: pointer;
    border-color: rgb(26, 32, 44);
    line-height: 24px;
    color: rgb(26, 32, 44);
    box-sizing: border-box;
    border: 0px none rgb(26, 32, 44);
    font-family: Matter, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    margin: 0px;
    overflow-wrap: break-word;
    overflow: visible;
    border-width: 0px;
    border-style: none;
  }

  .style-25 {
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    align-items: center;
    line-height: 12px;
    font-size: 10px;
    cursor: pointer;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-26 {
    justify-content: flex-start;
    flex-direction: column;
    max-width: 320px;
    display: none;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-27 {
    max-width: 300px;
    width: 100%;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-28 {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 16px;
    background-color: rgb(253, 239, 120);
    border-radius: 8px;
    display: block;
    margin-top: -8px;
    z-index: 10;
    border-color: rgb(229, 231, 235);
    text-decoration: none solid rgb(0, 0, 0);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-29 {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-30 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-31 {
    margin-top: 8px;
    margin-bottom: 8px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-32 {
    color: rgb(0, 0, 0);
    line-height: 12px;
    font-size: 10px;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    border: 0px solid rgb(229, 231, 235);
    margin: 0px;
    user-select: text;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }

  .style-33 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }
  .style-100 {
    border-color: rgb(229, 231, 235);
    max-width: 100%;
    height: 100vh;
    display: block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    inset: 0px;
    z-index: 0;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
    @media (max-width: 1024px) {
        height: 100vh;
    }
  }
  .style-101 {
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    overflow-wrap: break-word;
    border-width: 0px;
    border-style: solid;
  }
}
